<div id="<%= dom_id report %>">
  <p>
    <strong>Start time:</strong>
    <%= report.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= report.end_time %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= report.content %>
  </p>

</div>
