<div
  data-controller="preloader"
  class="
    flex fixed top-0 left-0 justify-center items-center w-screen h-screen bg-white
    z-999999 dark:bg-neutral-900
  "
>
  <div
    class="
      w-16 h-16 rounded-full border-4 border-solid animate-spin border-primary-500
      border-t-transparent
    "
  ></div>
</div>
