<%# Non-link tag that stands for skipped pages...
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote -%>
  <span
    class="
      page gap relative inline-flex dark:text-slate-200 items-center text-sm
      font-semibold ring-1 ring-inset px-4 py-2 dark:ring-slate-700 hover:bg-slate-50
      dark:hover:bg-slate-700 focus:z-20 focus:outline-offset-0
    "
  ><%= t("views.pagination.truncate").html_safe %></span>
